#trewq {
    width: 560px; height: 315px;
}

   #cxrili {
    margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 10vh;
}
#ukangadasvlis {
    margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
#bmulebi {
    margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
body {
    margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}